modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["nano", "supabase-cli", "unzip"]

[agent]
expertMode = true
integrations = ["stripe:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Expo Web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Stripe Server"

[[workflows.workflow]]
name = "Start Expo Web"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd signtouch-app-main && npx expo start --clear --web --port 19006"

[[workflows.workflow]]
name = "Stripe Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 19006
externalPort = 3002

[[ports]]
localPort = 19007
externalPort = 3003

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_IOS_KEY = "test_JGyfvYsrLrSPDCwPGZMpYZHBhKH"
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY = "test_JGyfvYsrLrSPDCwPGZMpYZHBhKH"
STRIPE_SERVER_PORT = "3001"
EXPO_PUBLIC_STRIPE_SERVER_URL = "https://3aa55d0d-178c-4720-bdee-f8cea294f71b-00-3sqzk84ygwh7z.picard.replit.dev"

[userenv.development]
MOCK_MODE = "true"
